html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;

}

body {
  
  height: 100%;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

main{
  flex: 1 1 auto;
}

.MapContent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  height: 87vh;
  width: 1600px;
  align-content: center;
}

.map{
  margin-top: 8vh;
  margin-left: 200px;;
  
}

.search_btn{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.searchForm_textInput{
  margin: 13px 10px 0 35px;

}

.addEventLink{
  border: 1px solid black; 
  border-radius: 30px;
  margin-right: 10px;
}

.approveEventLink{
  border: 1px solid black;
  border-radius: 30px;
  margin-right: 10px;
}

.regionLink{
  text-decoration: none;
  
}

a path:hover{
  'fill: black;
}

.regionLink path{
  'fill: #7c7c7c;
}


.info_btn{
  margin-top: 15px;
}

.info_btn:hover{
  background-color: #d7d8da;  
}

.search_btn{
  margin-top: 5px;
}

.infoContainer{

  overflow: auto;
  height: 87vh;
  background-color: #d7d8da;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 400px;
  
}

.event{
  background-color: #bfe2e9;
  display: inline-block;
  margin: 10px;
  text-align: center;

  word-break: break-word;
  
  padding: 5px;
  border-radius: 10px;
}

