html {
  font-size: 14px;
  height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;

}

body {
  
  height: 100%;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  
}

main{
  flex: 1 1 auto;
}

.colorBox{
  position: fixed;
  bottom: 22px;
  right: 10px;
  width: 150px;
  height: 120px;
  background-color: #d7d8da;
  border: 1px solid #ccc;
  padding: 10px;
  
}

.colorInfoBox{

  display: flex;
}

.colorSquareGreen{
  width: 10px;
  height: 10px;
  background-color: green;
  margin: 7px 5px 0 0;
}

.colorSquareYellow{
  width: 10px;
  height: 10px;
  background-color: yellow;
  margin: 7px 5px 0 0;
}

.colorSquareOrange{
  width: 10px;
  height: 10px;
  background-color: orange;
  margin: 7px 5px 0 0;
}

.colorSquareRed{
  width: 10px;
  height: 10px;
  background-color: red;
  margin: 7px 5px 0 0;
}

.colorInfoBox p {
  margin: 0;
}

.MapContent{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  
  height: 87vh;
  width: 1600px;
  align-content: center;
}

.map{
  margin-top: 8vh;
  margin-left: 200px;
  
 /* width: calc(100% - 200px); */
}

.search_btn{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.searchForm_textInput{
  margin: 13px 10px 0 35px;

}

.addEventLink{
  border: 1px solid black; 
  border-radius: 30px;
  margin-right: 10px;
}

.approveEventLink{
  border: 1px solid black;
  border-radius: 30px;
  margin-right: 10px;
}

.regionLink{
  text-decoration: none;
  
}

a path:hover{
  'fill: black;
}

.regionLink path{
  'fill: #7c7c7c;
}


.info_btn{
  margin-top: 15px;
}

.info_btn:hover{
  background-color: #d7d8da;  
}

.search_btn{
  margin-top: 5px;
}

.infoContainer{

  position: absolute;
  top: 80px;
  left: 0;
  
  overflow: auto;
  height: 89vh;
  background-color: #d7d8da;
  
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: calc(400px - 50px)
  
}

@media (max-width: 900px) {
  .infoContainer {
  width: calc(400px - 100px);
  height: 68vh;
  }
}

@media (max-width: 768px) {
  .map{
    /*width: calc(100% - 100px);*/
  }
}

.event{
  background-color: #bfe2e9;
  display: inline-block;
  margin: 10px;
  text-align: center;

  word-break: break-word;
  
  padding: 5px;
  border-radius: 10px;
}

